.bgImageC{
    background-image: url('https://img.freepik.com/free-vector/prickly-juniper-branch-beige-gray-minimal-background_53876-113047.jpg?w=826&t=st=1691260868~exp=1691261468~hmac=534b32ac58f395562a03fac47c79862ab83ff688411b118da3deae3fa2159e19');
    background-repeat: no-repeat;
    background-size: cover
}  